body{
    background: url(../img/noise.png);
}

.logo img{
    float: left;
    margin-top: 30px;
}

.search,.submit{
    float: right;
    background: none;
    border: none;
    margin-top: 27px;
}

.search{
    border: 1px solid #e7e7e7;
    padding: 12px;
    font-family: Tahoma;
    font-size: 12px;
    color: #b2b2b2;
    background: #f3f3f3;
}

.submit{
    font-family: Tahoma;
    font-size: 12px;
    color: white;
    background: #29c5e6;
    padding: 12px;
    font-family: oswald;
    border:1px solid #29c5e6;
}

.menu{
    float: left;
    margin-top:28px;
    width: 100%;
    padding: 0px; 
}

.menu li{
    float: left;
    list-style: none;
    width: 142px;
    height: 40px;
    text-align: center;
    background: #f3f3f3;
    line-height: 40px;
    font-family: oswald;
    color: #b2b2b2;
    cursor: pointer;
}

.menu li.active{
    background: #29c5e6;
    color: white;
}

.carousel-caption h3{
    font-size: 42px;
    font-family: oswald;
    font-weight: 200;
}

.carousel-caption p{
    font-size: 20px;
    font-family: oswald;
    font-weight: 200;
}

.carousel-control i{
    position: absolute;
    top:50%;
    font-size: 54px;
    margin-top: -27px;
}

.item img{
    background-size: cover;
}

.slider{
    margin-top: 30px;
}

.control-line{
    height: 50px;
    background: #f3f3f3;
    border-bottom: 1px solid #e7e7e7;
}

.carousel-caption{
    top:50%;
    margin-top: -80px;
}

.slNav{
    list-style: none;
    font-family: oswald;
    font-weight: 200;
    font-size: 18px;
    color: #8f8f8f;
    margin-top: 12px;
    padding: 0px;
    margin-left: -30px;
}

.slNav>li>div{
    margin-left: 35px;
}

ul.slNav>li>span{
    display: block;
    text-align: center;
    width: 24px;
    height: 24px;
    background: #8f8f8f;
    color: white;
    float: left;
}

ul.slNav>li>span.active{
    background: #29c5e6;
}

.slNav li{
    float: left;
    margin-left: 50px;
    cursor: pointer;
}

.slNav li.active{
    color: #29c5e6;
}

.carousel-indicators{
        top:90%;
}

.carousel-indicators{
    display: none;
}

a.carousel-control.left,a.carousel-control.right{
    display: none;
}

.double{
    margin-top: 30px;
    font-family: Oswald;
    font-weight: 400;
}

.qdr{
    width: 15px;
    height: 15px;
    background: #29c5e6;
    margin-left: 10px;
    float: left;
    margin-top:2px;
}

.aboutText{
    float: left;
    margin-left: 5px;
    color: #7e7e7e;
    font-size: 14px;
    overflow: hidden;
    width:130px;
    height: 17px;
}

.lines{
    float: left;
    height: 15px;
    width:120%;
    margin-top:2px;
    margin-left: -70px;
    background: repeating-linear-gradient(-45deg,#c4c4c4,1px,rgba(0,0,0,.1),transparent 1px,transparent 3px);
}

.Aimage{
    width: 140px;
    height: 140px;
    margin-top: 15px;
    float: left;
    margin-left: 10px;
}

.Atext{
    float: left;
    margin-left: 160px;
    margin-top: -140px;
    font-family: tahoma;
    font-size: 14px;
    color: #7e7e7e;
    width: 360px;
}

.readM{
    margin-left: 145px;
    font-size: 12px;
    margin-top: -15px;
    color: #525252;
    font-family: tahoma;
    text-decoration: underline;
    cursor: pointer;
}

.thrid{
    margin-top: 40px;
    font-family: Oswald;
    font-weight: 400;
}

.firstA.col-lg-8{
    height: 44px;
}

.firstT{
    margin-left: 15px;
}

.last{
    margin-left: -16px;
}

.last .contLine{
    width: 200px;
}

.firstA{
    font-family: tahoma;
    color: #7e7e7e;
    margin-top: 30px;
    margin-left: 10px;
    max-width: 280px;
}

.Fread{
    margin-top: 10px;
    margin-left: -3px;
}

.Simage{
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 10px;
}

.nws:hover{
    cursor: pointer;
}

.aboutText{
    font-family: oswald;
}

.clients{
    margin-left: 30px;
    margin-top: 20px;
}

.clients .lines{
    width: 175%;
    margin-left: -55px;
}

.clientsLogos{
    float: left;
}

.clientIcons{
    font-size: 80px;
    color: #e2e2e2;
    text-align: center;
    margin-top: 10px;
    margin-left: -15px;
}

.footer{
    margin-top: 40px;
    background: #7e7e7e;
    padding-bottom: 12px;
}

.Fcontent{
    font-family: oswald;
    color: white;
    padding-top: 10px;
}

.twText{
    font-weight: 300;
    color: #dbdbdb;
    float: left;
    margin-top: 7px;
    border-top: 1px solid #919191;
    padding-left: 5px;
    padding-top: 5px;
    max-width: 400px;
}

.name{
    margin-left: 5px;
}

.twDate{
    color: #a8a3a3;
    font-size:12px;  
    border-bottom: 1px solid #a8a3a3;
    float: left;
    margin-top: -2px;
}

.sm{
    font-size: 14px;
    float: left;
    margin-left: 3px;
}

.soc{
    font-size: 28px;
    
}

.soc a{
    color: white;
}